    </div>
    <div id="bottom" style="width: 600px;margin-right: auto;margin-left: auto;">
      <div id="contenu_texte2">
        <p id="texte2" style="line-height: 32px;">
          Pour toute questions,
          <br>
          n'hésitez pas à nous contacter :
        </p>
      </div>
      <div id="contact" style="padding: 15px 15px 15px 15px;background-color: #ebe8e5;width: 70%;">
        <ul style="margin: 0;padding: 0;">
          <li style="margin-top: 5px;list-style: none;">
            <img src="<%= asset_url('mail/tel.png') %>" class="icone_contact">
            <a href="tel:+33180889745" style="vertical-align: top;margin-top: 6px;margin-left: 10px;display: inline-block;">06 85 56 76 53</a>
          </li>
          <li style="margin-top: 5px;list-style: none; margin-left: 0px;">
            <img src="<%= asset_url('mail/mail.png') %>" class="icone_contact">
            <span style="vertical-align: top; margin-top: 6px; margin-left: 10px;display: inline-block;">contact@swapster.com</span>
          </li>
        </ul>
      </div>
      <div id="merci" style="padding-bottom: 10px;line-height: 32px;">
        <p>Merci de votre confiance!
        <br>Evolution Design
        </p>
      </div>
      <div id="liens" style="margin-bottom: 10px;">
        <img src="<%= asset_url('mail/logo4.png') %>" id="logo_small" style="width: 220px;margin-right: 20px;">
        <img src="<%= asset_url('mail/barre.png') %>" style="height: 35px;">
        <img src="<%= asset_url('mail/twitter.png') %>" class="reseaux_sociaux" style="margin-left: 20px;vertical-align: top;margin-top: 20px;">
        <img src="<%= asset_url('mail/facebook.png') %>" class="reseaux_sociaux" style="margin-left: 20px;vertical-align: top;margin-top: 20px;">
        <img src="<%= asset_url('mail/google.png') %>" class="reseaux_sociaux" style="margin-left: 20px;vertical-align: top;margin-top: 20px;">
        <img src="<%= asset_url('mail/linkedin.png') %>" class="reseaux_sociaux" style="margin-left: 20px;vertical-align: top;margin-top: 20px;">
      </div>
    </div>
    <div id="footer" style="background-color: #453e39;color: white;padding-bottom: 20px;">
      <div id="cip" style="padding-top: 3%;width: 700px;margin: 0 auto;overflow: hidden;">
        <img src="<%= asset_url('mail/label-crowdfunding.png') %>" id="label" style="display: inline-block;margin-right: 10px;width: 70px;">
          <span id="orias" style="display: inline-block;width: 85%; vertical-align: top;margin-top: 15px;">
            Swapster. Plaforme d'investissement immobilier, 795 Folsom Ave, Suite 600. San Francisco, CA 94107, p: (123) 456-7890
          </span>
      </div>
    </div>
  </body>
</html>