<%= render "ginkgofi_mailer/header" %>
<div id="contenu" style="width: 600px;margin: 0 auto;padding: 15px;background: rgba(255, 255, 255, 0.9);">
  <div id="contenu_texte1">
    <div id="texte1">
	    <p>Bonjour <%= "#{@user.clear_civility} #{@user.last_name}" %>,</p>
      <p>Vous avez demandé la réinitialisation de votre mot de passe.</p>
      <p>Pour rappel, votre email de connexion est : <%= @user.email %> </p>
      <p>Pour réinitialiser votre mot de passe, veuillez cliquer ci-dessous</p>
  	</div>
  	<a href="<%= edit_password_users_url(reset_password_token: @token) %>" id="action" style="width: 55%;background: #ff0600;display: inline-block;padding: 10px;text-align: center;color: white;text-decoration: none;text-transform: uppercase;">
      Changer mon mot de passe
    </a>
  </div>
</div>
<%= render "ginkgofi_mailer/footer" %>